.first-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 80px 7%;
  margin-top: 20px;
}

.welcome-paragraph {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
  font-family: "proxima-nova", sans-serif;
  text-align: right;
}

.wp-subtitle {
  font-size: 23px;
  font-weight: 600;
  padding-bottom: 14px;
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 0.6);
}

.our-vision {
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 28px;
  color: #1f1f1f;
}

#arrow {
  font-size: 28px;
  vertical-align: text-bottom;
}

.image-1 {
  width: 100%;
  text-align: center;
  height: auto;
}

.ima {
  width: max-content;
  height: auto;
}

.second-paragraph {
  display: flex;
  flex-direction: column;
  padding: 60px 80px;
  border-radius: 16px;
  background-color: rgb(242, 242, 242, 0.9);
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 1px 4px,
    rgba(0, 0, 0, 0.16) 0px -1px 4px;
}

.list-of-services {
  padding: 0 40px;
}

.list-one {
  background-color: white;
  border-radius: 8px;
  padding: 15px 15px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.list-one:hover {
  transform: translateY(-3px) scale(1.05);
  /* Move up and slightly enlarge */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* Add a shadow for emphasis */
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

#icon-1 {
  font-size: 30px;
}

.text {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.75);
}

.dropdown-content {
  display: none;
  margin-top: 10px;
  overflow: hidden;
  background-color: transparent;
  /* Remove background color */
  border: none;
  transition: all 0.3s ease;
  font-size: 11px;
  padding: 0 20px;
}

.dropdown-content.show {
  display: block;
  transition: all 0.5s ease;
}

.dropdown-content p {
  margin: 0;
  color: #333;
  /* Text color */
  text-align: center;
  font-size: 16px;
  transition: transform 0.3s ease;
  /* Ensure text scales smoothly too */
}

.schedule-services {
  padding-bottom: 40px;
}

.ss-text {
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

#yt-icon {
  font-size: 21px;
  vertical-align: bottom;
}

#fb-icon {
  font-size: 21px;
  vertical-align: top;
}

.third-paragraph {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 60px 0px 100px 0;
  padding: 30px 80px;
}

.giving-paragraph {
  width: 100%;
  padding-left: 40px;
  line-height: 30px;
  font-weight: 300;
}

.pic-og {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.give-pic {
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.title-og {
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  font-weight: 800;
  font-family: "proxima-nova", sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

.bs {
  white-space: nowrap;
  color: rgb(197, 102, 194);
}

.subhead-og {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
}

button.button-10 {
  touch-action: manipulation;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  margin-top: 10px;
}

button.button-10 {
  touch-action: manipulation;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #5da4f0;
  border: 2px solid #3366cce8;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0a70dd;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #3366CC, 0 0.625em 0 0 #99CCFF;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.button-10:hover {
  background: #1e80ea;
  transform: translate(0, 0.25em);
}

button.button-10:hover::before {
  box-shadow: 0 0 0 2px #3366CC, 0 0.5em 0 0 #99CCFF;
  transform: translate3d(0, 0.5em, -1em);
}

button.button-10:active {
  background: #99CCFF;
  transform: translate(0em, 0.75em);
}

button.button-10:active::before {
  box-shadow: 0 0 0 2px #3366CC, 0 0 #99CCFF;
  transform: translate3d(0, 0, -1em);
}


.line {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 0;
}

.line-e {
  width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 3px rgb(97, 97, 98);
}

.mySlides {
  display: none;
}

.mySlides img {
  vertical-align: middle;
  border-radius: 8px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.slideshow-container {
  max-width: 50%;
  position: relative;
  margin: auto;
  margin-bottom: 60px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 16px;
  margin-top: -22px;
  color: black;
  font-weight: 100;
  font-size: 12px;
  transition: 0.6s ease;
  border-radius: 50%;
  user-select: none;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 35px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  transition: all .2s ease-in;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 30px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.actives,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}


@media only screen and (max-width: 957px) {

  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    padding-left: 60px;
    padding-right: 60px;
  }

  .prev,
  .next {
    font-size: 11px;
  }

  .dot {
    height: 10px;
    width: 10px;
  }

  .slideshow-container {
    max-width: 70%;
  }
}

@media only screen and (max-width: 765px) {

  .first-paragraph,
  .second-paragraph,
  .third-paragraph {
    padding-left: 30px;
    padding-right: 30px;
    flex-direction: column;
    justify-content: space-between;
  }

  .welcome-paragraph {
    max-width: 100%;
    text-align: center;
    margin-right: 0;
    padding-bottom: 40px;
  }

  .giving-paragraph {
    max-width: 100%;
    text-align: center;
    padding: 0;
  }

  .pic-og {
    max-width: 90%;
    margin-top: 30px;
  }

  .list-of-services {
    padding: 0;
    transition: padding .3s ease-in;
  }

}